.site-header {
    position: relative;
    padding: 14px 0;
    z-index: 2;

	&::before {
		content: '';
		position: absolute;
		top: -140px;
    right: -100px;    
		width: 1440px;
		height: 324px;
		background-image: url('../images/header-illustration-light.svg');

		.lights-off & {
			background-image: url('../images/header-illustration-dark.svg');
		}
	}
}

.site-header-inner {
    position: relative; /* To display all elements above the background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu{
        img{
            cursor: pointer;
        }
        
    }
}



.header-links {
    display: inline-flex;

    li {
        display: inline-flex;
    }

    a:not(.button) {
        @include font-size(7, mobile, true, true, true);
        @if ( get-font-size(7, desktop) != get-font-size(7, mobile) ) {
            @include media( '>medium' ) {
                @include font-size(7, desktop, true, true, true);
            }
        }
        @include font-weight(semibold);
        @include anchor-aspect(header);
        line-height: 16px;
        padding: 8px 24px;
    }
}

@include media( '>medium' ) {

	.site-header {

		&::before {
			display: none;
		}
	}
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    .lights-off & {      
      background-color: rgb(255, 255, 255);
      background-color: rgba(255,255,255, 0.98);
      a:hover, .overlay a:focus {
        color: #161616;
      }
      a{
        color: #6e6d6d;
      }
		}
    overflow-x: hidden;
    transition: 0.5s;
    .overlay-content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    a {
      padding: 10px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    .closebtn {
      position: absolute;
      top: 20px;
      left: 45px;
      font-size: 50px;
    }
  }
  

  
  
  
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 30px;
    top: 15px;
    right: 35px;
    }
  }