.stacklist{
    position:sticky;    
    top: 0;
    border-top:1px solid royalblue;
    width: 100%;
    max-width: 100%;
    padding: 0;    
    ul{        
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        text-overflow: ellipsis;      
        overflow-x: hidden;
        // flex-wrap: wrap;
        padding-left: 0; 
        flex-flow: row wrap;
        li{
            cursor: alias;            
            margin: 5px;
        }
        li:hover{
            border-bottom:3px dashed darkcyan;
        }
    }

}